/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

* {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-image: url(pictures/jmeli_pozadi.jpg);
  background-position: center center;
  background-size: cover;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
}

ul {
  list-style: none;
  font-family: "Cinzel", serif;
  padding-left: 0;
  background-color: #fff;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: end;
}

li {
  display: inline-block;
  margin: 10px;
}

ul li a {
  text-decoration: none;
  color: #000;
}

a:any-link {
  text-decoration: none;
  color: #000;
}

header {
  background-image: url(pictures/winter_landscape.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin-top: 0;
  position: relative;
}

h1 {
  font-size: 76px;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 200px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.new {
  position: relative;
}

.new__item {
  display: flex;
}

.new__img {
  max-width: 500px;
  flex-basis: 45%;
}

.new__text {
  flex-basis: 55%;
}

.new__text--bold {
  font-weight: 700;
}

.new__claim {
  /* font-family: "Cinzel", serif; */
  font-weight: 700;
  font-size: 42px;
  color: #720b0b;
  position: absolute;
  left: 100px;
  bottom: 50px;
  z-index: 1;
}

.new__deco,
.new__deco--two {
  position: absolute;
}

.new__deco {
  width: 180px;
  bottom: 90px;
  left: 310px;
}

.new__deco--two {
  width: 250px;
  bottom: 70px;
  left: 10px;
  transform: rotate(25deg);
}

.winter,
.summer,
.all_seasons {
  display: flex;
  margin-bottom: 25px;
}

.card {
  flex-basis: 50%;
  display: flex;
}

.card__img {
  width: 300px;
}

.card__price {
  font-size: 20px;
}

.card__button {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  width: 200px;
  text-align: left;
  padding-left: 0;
  
}

footer {
  text-align: center;
  padding-top: 20px;
}